name: Java CI Pipeline
on:
  pull_request:
    branches: [ main ] # Only run when a PR is opened to main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'
      - name: Build and Test
        run: mvn clean package